@using Membership.Models

<style>
    td{
        width: auto;
        white-space: nowrap;
    }
    #MVCGridTable_MembersGrid{
        width: 3200px;
    }

    #MVCGridTable_MembersGrid thead tr:nth-child(1){
        border-bottom:5px solid lightblue;
    }

     #MVCGridTable_MembersGrid tbody tr td:nth-child(4){
        color: blue;
        font-weight: bold;
    }

     #MVCGridTable_MembersGrid tbody tr td:nth-child(3), 
     #MVCGridTable_MembersGrid tbody tr td:nth-child(9),
     #MVCGridTable_MembersGrid tbody tr td:nth-child(12),
     #MVCGridTable_MembersGrid tbody tr td:nth-child(16),
     #MVCGridTable_MembersGrid tbody tr td:nth-child(23),
     #MVCGridTable_MembersGrid tbody tr td:nth-child(27) {
         border-right: 5px solid lightblue;
     }
</style>

@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
{
    <div style="margin-top: 10px">
        @Html.ActionLink("Add New Member", "Create", "Member", new { @class = "btn btn-primary" })
    </div>
}

@Html.Partial("_MVCGridToolbar", new MVCGridToolbarModel()
{
    MVCGridName = "MembersGrid",
    PageSize = false,
    ColumnVisibility = true,
    Export = true,
    GlobalSearch = true
})
@Html.MVCGrid("MembersGrid")


<script>
    $(document).ready(function () {
        if ('@ViewBag.canEdit' == 'False') {
            $("<style type='text/css'> #MVCGridTable_MembersGrid tbody tr td:nth-child(1) a{ display: none; } </style>").appendTo("head");
        }
    })
</script>